/* 
Object Orient Principle
- separate container from content (ex btn)
- separate structure from skin (use abstract name for skin class. ex. btn-primary)

btn: base structure
btn-primary : change background color
*/

/* Badges */
.badge {
	padding: 0.5rem 2rem;
	/* 
  Use unit of pixel, Because don't want the radius depend on the font size,
  it won't change in any screen dimension.
  */
	border-radius: 20px;
	white-space: nowrap;
	font-weight: 600;
	font-size: 2rem;

	&--primary {
		background-color: var(--color-primary);
		color: #ffffff;
	}

	&--secondary {
		background-color: var(--color-secondary);
		color: #ffffff;
	}

	&--small {
		padding: 0.5rem 1.5rem;
		font-size: 1.6rem;
	}
}

@media screen and (min-width: 768px) {
	.badge {
		font-size: 1.5rem;
	}

	.badge--small {
		font-size: 1.2rem;
	}
}
