/* Blocks */
/* 
	Reusable block class: 
	container: constrain the content and background to be full width to the view port
	block: each section is a block, and can be reuse.
*/
.container {
	margin: 0 auto;
	max-width: 1140px;
}

.block {
	/* Custom variable */
	--padding-vertical: 6rem;
	padding: var(--padding-vertical) 2rem;
	/* border: 2px solid red; */

	&__header {
		margin-bottom: 4rem;
		text-align: center;
	}

	&__heading {
		/* remove h2 top margin */
		margin-top: 0;
	}

	&--dark {
		background-color: #000000;
		color: #7b858b;
		/* Break BEM rules: It's generic setting, beacaue in dark-block, the heading
		always be white, using decend type selector to apply all of them */
		h1,
		h2,
		h3 {
			color: #ffffff;
		}
	}

	&--skewed-right {
		/* 
		clip-path will lose some of bootom padding, 
		apply extra padding to solve that issue.
		*/
		padding-bottom: calc(var(--padding-vertical) + 4rem);
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 95%);
	}

	&--skewed-left {
		padding-bottom: calc(var(--padding-vertical) + 4rem);
		clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
	}
}
