/* Button */

.btn {
	/* Define the basic structure */
	margin: 1rem 0;
	/* 4vw: 4% of the width of the viewport */
	padding: 2rem 4vw;
	outline: 0;
	border: 0;
	border-radius: 40px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 600;
	font-size: 1.8rem;
	cursor: pointer;

	@mixin lg {
		font-size: 1.5rem;
	}

	.icon {
		margin-right: 1rem;
		width: 2rem;
		height: 2rem;
		vertical-align: middle;
	}

	/* Using Modifier to define skin */
	&--block {
		display: inline-block;
		/* inline-block, width will work, set to 100% to expend to full width */
		width: 100%;
	}

	&--stretched {
		padding-right: 6rem;
		padding-left: 6rem;
	}

	&--outline {
		border: 2px solid var(--color-headings);
		background-color: #ffffff;
		color: var(--color-headings);

		&:hover {
			background-color: var(--color-headings);
			color: #ffffff;
		}
	}

	&--primary {
		background-color: var(--color-primary);
		color: #ffffff;

		&:hover {
			background-color: #3a8ffd;
			background: color(var(--color-primary) shade(20%));
		}
	}

	&--secondary {
		background-color: var(--color-secondary);
		color: #ffffff;

		&:hover {
			background-color: color(var(--color-secondary) shade(20%));
		}
	}

	&--accent {
		background-color: var(--color-accent);
		color: #ffffff;

		&:hover {
			background: color(var(--color-accent) shade(20%));
		}
	}

	&--indigo {
		background-color: $indigo-600;
		color: #fff;
		&:hover {
			background-color: $indigo-400;
		}
	}
}
