/* Callouts */
.callout {
	padding: 4rem;
	border-radius: 5px;

	.btn {
		align-self: center;
		justify-self: center;

		@mixin md {
			margin: 0 2rem;
			justify-self: start;
		}
	}

	.grid--1x2 {
		/* In our callout component, if we have a grid--1x2, apply this rules  */
		/* second column set to auto, all the extra space will allocate to first column(1fr)  */
		@mixin md {
			grid-template-columns: 1fr auto;
		}
	}

	&__content {
		text-align: center;

		@mixin md {
			text-align: left;
		}
	}

	&__heading {
		margin-top: 0;
		color: #ffffff;
		font-size: 3rem;
	}

	&--primary {
		background-color: var(--color-primary);
		color: #ffffff;
	}
}
