/* Grid */
.grid {
	display: grid;

	/* one row two column */
	&--1x2 {
		@mixin md {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	/* one row three column */
	&--1x3 {
		@mixin lg {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
