/* Links */
a {
	text-decoration: none;
}

.link-arrow {
	color: var(--color-accent);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 2rem;

	@mixin atLarge {
		font-size: 1.5rem;
	}

	&::after {
		margin-left: 5px;
		content: '-->';
		transition: margin 0.15s;
	}

	&:hover::after {
		margin-left: 10px;
	}
}

/* End Links */
