/* Media Object */
.media {
	/* Using flex to implement the two-column layout */
	display: flex;
	margin-bottom: 4rem;

	&__title {
		/* Heading have extra maring, set to 0 */
		margin-top: 0;
	}

	&__body {
		margin: 0 2rem;
	}

	&__image {
		margin-top: 1rem;
	}
}
