<section class="block">
  <div class="container">

    <header class="block__header">
      <h1 class="block__heading">Heading Level 1</h1>
      <p>React Authentication & Access Control</p>
    </header>

    <div style="width: 50%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          The authentication server generates a JWT using a private key and then sends the JWT back to your React app.
        </div>
      </div>
    </div>

  </div>
</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h1 class="block__heading">Heading</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, numquam.</p>
    </header>
  </div>
</section>