<section class="block">
  <div class="container">
    <header class="block__header">
      <h1 class="block__heading">Heading</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, numquam.</p>
    </header>

    <div style="width: 50%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, excepturi?
        </div>
      </div>
    </div>

  </div>

</section>

<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h1 class="block__heading">Heading</h1>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, numquam.</p>
    </header>
  </div>
</section>