<div class="callout callout--primary">
	<div class="grid grid--1x2">
		<div class="callout__content">
			<h2 class="callout__heading">Ready to Get Start</h2>
			<p>
				In this tutorial, we will outline different approaches to building a custom component library. But first, I have
				a question for you: do you really need your own component library? Let’s talk about the benefits and trade-offs
				of customizing one.
			</p>
		</div>
		<a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
	</div>
</div>