<div style="width: 50%; padding: 4rem">
	<div class="card card--primary">
		<header class="card__header">Card Title</header>
		<div class="card__body">
			Your React app requests a JWT from the authentication server whenever the user wants to sign on.
		</div>
	</div>
</div>

<div style="width: 50%; padding: 4rem">
	<div class="card card--secondary">
		<header class="card__header">Card Title</header>
		<div class="card__body">
			The authentication server generates a JWT using a private key and then sends the JWT back to your React app.
		</div>
	</div>
</div>