<!-- Has collapsible--expanded class: show the content -->
<div class="collapsible collapsible--expanded">
	<header class="collapsible__header">
		<h2 class="collapsible__heading">Show the content</h2>
		<svg class="icon icon--white collapsible__toggler">
			<use xlink:href="images/sprite.svg#chevron"></use>
		</svg>
	</header>
	<div class="collapsible__content">
		Get an access token from an authentication server
	</div>
</div>

<div style="height:40px;width:200px; margin:2rem auto">---我是分隔線---</div>

<!-- No collapsible--expanded class: hide the content -->
<div class="collapsible">
	<header class="collapsible__header">
		<h2 class="collapsible__heading">Hide the content</h2>
		<svg class="icon icon--white collapsible__toggler">
			<use xlink:href="images/sprite.svg#chevron"></use>
		</svg>
	</header>
	<div class="collapsible__content">
		Send the access token to your backend server with each subsequent request
	</div>
</div>