@import 'normalize.css';

.list {
	max-width: 900px;
	padding: 2rem;
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;

	&__item {
		& > a {
			background: dodgerblue;
			border-radius: 10px;
			display: inline-block;
			text-decoration: none;
			padding: 1rem;
			font-weight: bold;
			font-size: 2rem;
			color: #ffffff;
			transition: background color 0.3s;
		}

		& > a:hover {
			color: #000;
			background: tomato;
		}
	}
}
