/* The order matters, always put mixin on the top */
@import '../css/settings/_mixins.pcss';
@import '../css/settings/_global.pcss';

@import '../css/components/_btn.pcss';
@import '../css/components/_icon.pcss';
@import '../css/components/_input.pcss';
