<div style="background:#000; width:50%">
	<div class="media">
		<div class="media__image">
			<svg class="icon icon--primary">
				<use xlink:href="images/sprite.svg#snap"></use>
			</svg>
		</div>
		<div class="media__body">
			<h3 class="media__title">Easy Start & Managed Updated</h3>
			<p>
				Let’s work in CSS pixel values and use SCSS for speed and convenience. So, if we are to target the title of one
				of these card widgets, our SCSS might look something like this:
			</p>
		</div>
	</div>
</div>