<blockquote class="quote">
	<p class="quote__text">
		而這個暫存區也稱之索引（index），所以在上圖中，SourceTree 的選單才會用「Add to
		index」字樣。基本上暫存區跟索引是一樣的意思。為了讓大家比較方便理解，本書將統一使用「暫存區」的用法。至於為什麼要有這樣的設計，請見下一章「工作區、暫存區與儲存庫」的介紹。
	</p>
	<footer>
		<div class="media">
			<div class="media__image">
				<svg class="icon icon--primary quote__line">
					<use xlink:href="images/sprite.svg#line"></use>
				</svg>
			</div>
			<div class="media__body">
				<h3 class="media__title quote__author">John Dow</h3>
				<p class="quote__organization">ABC Company</p>
			</div>
		</div>
	</footer>
</blockquote>