/* Plan Block */
.block-plans {
	/* In .block-plans the .grid should have gap: 8rem 4rem */
	.grid {
		gap: 8rem 4rem;
	}
	/* 
	In .block-plans the .card should have max-width: 500px
	and margin: 0 auto
	*/
	.card {
		margin: 0 auto;
		max-width: 500px;
	}
}
