/* Testimonial */

.block-testimonial {
	padding: 3rem;

	.quote {
		margin: 2rem 0;
		font-size: 110%;

		@mixin md {
			margin: 5rem 0 0 6rem;
			font-size: 120%;
			line-height: 1.5;
		}
	}

	&__image {
		position: relative;
		margin: 0 3rem;

		@mixin md {
			margin: 0;
		}

		/* Exceptional case direct child selector: 
		because the structure of this container unlikely to  change */
		& > img {
			/* 100% width of it's container, so if the container comes larger or smaller, the image will resize accordingly. */
			width: 100%;
		}
		/* postion the icon */
		& > .icon-container {
			position: absolute;
			top: 3rem;
			/* icon with:64px set in .icon, offset -32px keep icon in the middle */
			right: -32px;
		}
	}
}
